---
interface Props {
  texts: {
    languageSelector: {
      ca: string;
      es: string;
      en: string;
    };
    menuItems: {
      home: string;
      about: string;
      portfolio: string;
      services: string;
      contact: string;
    };
  };
  currentLanguage: string;
}
const { texts, currentLanguage } = Astro.props;
import LanguageSelector from "./LanguageSelector.astro";
---

<header>
  <img src="/images/main-logo.svg" />
  <ul>
    <li><a href="#home">{texts.menuItems.home}</a></li>
    <li><a href="#about">{texts.menuItems.about}</a></li>
    <li><a href="#portfolio">{texts.menuItems.portfolio}</a></li>
    <li><a href="#services">{texts.menuItems.services}</a></li>
    <li><a href="#contact">{texts.menuItems.contact}</a></li>
  </ul>
  <LanguageSelector
    texts={texts.languageSelector}
    currentLanguage={currentLanguage}
  />
</header>

<style>
  img {
    height: 75%;
    margin-left: 10px;
  }
  ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  li {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }
  a {
    margin: 0 auto;
  }
  a:hover {
    color: #ff7f00;
    transform: scale(1.1);
  }
</style>
