---
interface Props {
  texts: {
    ca: string;
    es: string;
    en: string;
  };
  currentLanguage: string;
}
const { texts, currentLanguage } = Astro.props;
---

<script>
  document.querySelector("#currentLanguage")?.addEventListener("click", () => {
    document.querySelector(".dropdown")?.classList.toggle("active");
  });
</script>

<div class="languageContainer">
  {
    currentLanguage === "ca" && (
      <a id="currentLanguage">
        <img src="/images/flags/ca.svg" />
        <p>{texts.ca}</p>
      </a>
    )
  }
  {
    currentLanguage === "es" && (
      <a id="currentLanguage">
        <img src="/images/flags/es.svg" />
        <p>{texts.es}</p>
      </a>
    )
  }
  {
    currentLanguage === "en" && (
      <a id="currentLanguage">
        <img src="/images/flags/en.svg" />
        <p>{texts.en}</p>
      </a>
    )
  }
  <div class="dropdown">
    <ul>
      {
        currentLanguage !== "ca" && (
          <li>
            <a href="/ca">
              <img src="/images/flags/ca.svg" />
              <p>{texts.ca}</p>
            </a>
          </li>
        )
      }
      {
        currentLanguage !== "es" && (
          <li>
            <a href="/es">
              <img src="/images/flags/es.svg" />
              <p>{texts.es}</p>
            </a>
          </li>
        )
      }
      {
        currentLanguage !== "en" && (
          <li>
            <a href="/en">
              <img src="/images/flags/en.svg" />
              <p>{texts.en}</p>
            </a>
          </li>
        )
      }
    </ul>
  </div>
</div>

<style></style>
