---
interface Props {
  texts: {
    ca: string;
    es: string;
    en: string;
  };
  currentLanguage: string;
}
const { texts, currentLanguage } = Astro.props;
---

<script>
  document.querySelector("#currentLanguage")?.addEventListener("click", () => {
    document.querySelector(".dropdown")?.classList.toggle("active");
  });
</script>

<div class="languageContainer">
  {
    currentLanguage === "ca" && (
      <a id="currentLanguage">
        <img src="/images/flags/ca.svg" />
        <p>{texts.ca}</p>
      </a>
    )
  }
  {
    currentLanguage === "es" && (
      <a id="currentLanguage">
        <img src="/images/flags/es.svg" />
        <p>{texts.es}</p>
      </a>
    )
  }
  {
    currentLanguage === "en" && (
      <a id="currentLanguage">
        <img src="/images/flags/en.svg" />
        <p>{texts.en}</p>
      </a>
    )
  }
  <div class="dropdown">
    <ul>
      {
        currentLanguage !== "ca" && (
          <li>
            <a href="/ca">
              <img src="/images/flags/ca.svg" />
              <p>{texts.ca}</p>
            </a>
          </li>
        )
      }
      {
        currentLanguage !== "es" && (
          <li>
            <a href="/es">
              <img src="/images/flags/es.svg" />
              <p>{texts.es}</p>
            </a>
          </li>
        )
      }
      {
        currentLanguage !== "en" && (
          <li>
            <a href="/en">
              <img src="/images/flags/en.svg" />
              <p>{texts.en}</p>
            </a>
          </li>
        )
      }
    </ul>
  </div>
</div>

<style>
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  a:hover {
    & p {
      transform: scale(1.1);
      color: #ff7f00;
    }
  }
  ul {
    display: flex;
    list-style-type: none;
  }
  ul:last-child {
    margin-right: 5px;
  }
  li {
    display: flex;
    align-items: center;
    box-shadow: 1px 5px 8px 0px rgba(80, 80, 80, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.21);
    padding-left: 10px;
    margin-left: 10px;
  }
  img {
    display: inline;
    height: 18px;
    margin: 5px;
    margin-right: 10px;
  }
  p {
    display: inline;
  }
  .dropdown {
    display: flex;
    max-width: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .active {
    max-width: 400px;
    opacity: 1;
  }
  .languageContainer {
    height: 60%;
    margin-right: 10px;
    display: flex;
  }
</style>
