---
interface Props {
  id: string;
  texts: {
    title: string;
    sub1: string;
    sub2: string;
    main: string;
    quote: string;
  };
}
const { id, texts } = Astro.props;
---

<section id={id}>
  <h1>{texts.title}</h1>
  <h2>{texts.sub1}</h2>
  <h2>{texts.sub2}</h2>
  <p>{texts.main}</p>
  <p class="quote">{texts.quote}</p>
</section>
