---
const { texts, currentLanguage } = Astro.props;
import Header from "../components/Header.astro";
import BackgroundVideo from "../components/BackgroundVideo.astro";
import SectionHome from "../components/SectionHome.astro";
import SectionAbout from "../components/SectionAbout.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/responsive.css";
---

<Header texts={texts.header} currentLanguage={currentLanguage} />
<main>
  <BackgroundVideo />
  <SectionHome id="home" texts={texts.home} />
  <SectionAbout id="about" texts={texts.about} />
  <SectionHome id="portfolio" texts={texts.home} />
  <SectionHome id="services" texts={texts.home} />
  <SectionHome id="contact" texts={texts.home} />
</main>
<Footer />

<style>
  main {
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
  }
</style>
