---
const { texts, currentLanguage } = Astro.props;
import Header from "../components/Header.astro";
import BackgroundVideo from "../components/BackgroundVideo.astro";
import SectionHome from "../components/SectionHome.astro";
import SectionAbout from "../components/SectionAbout.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/responsive.css";
import SectionPortfolio from "../components/SectionPortfolio.astro";
---

<Header texts={texts.header} currentLanguage={currentLanguage} />
<BackgroundVideo />
<main>
  <SectionHome id="home" texts={texts.home} />
  <SectionAbout id="about" texts={texts.about} />
  <SectionPortfolio id="portfolio" texts={texts.portfolio} />
  <SectionHome id="services" texts={texts.home} />
  <SectionHome id="contact" texts={texts.home} />
</main>
<Footer />
